/* 
    Document   : common
    Created on : Nov 12, 2014, 9:23:11 PM
    Author     : Andres
    Description:
        Purpose of the stylesheet follows.
*/

h1, h2, h3 {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    text-align: center;
    color: #000000;
    padding-bottom: 10px
}

h1 { font-size: 30px; }

h2 { font-size: 18px; }

h3 { }

table {
    width: 100%;    
    margin-left: auto; 
    margin-right: auto; 
    color:#000000;
}
th{
    text-align: center;
}

table tr th{
    background: #efefef; 
    background: linear-gradient(top, #B2FF99 0%, #71a900 100%);  
    background: -moz-linear-gradient(top, #B2FF99 0%, #71a900 100%); 
    background: -webkit-linear-gradient(top, #B2FF99 0%,#71a900 100%); 
    box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
    padding: 0 10px;
    border-radius: 2px;  
    list-style: none;    
    position: relative;        
    z-index: 1;
    margin:0px;
    height: 40px;
    width: 100px;
    color: #fff;        
}

table tr th a{
    color: #fff;
    text-decoration: underline;    
}

table tr th a:hover{
    color: #336600;
    cursor: pointer
}

table tr td{
    height: 40px;    
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;      
    white-space: nowrap;
    text-align: left;
    text-indent: 20px
}

.oddRow{
    background: rgba(191, 255, 158, 0.7);
    
}

.evenRow{
    background-color: #FFFFFF;
}
