#login-div {
    width: 285px;
}
#header {
    margin: 0;
    padding: 0;
    background: #fff url(images/img01.jpg) repeat-x left top;        
    height: 250px;    
    min-width: 1400px
}

#header-brand{
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;    
    font-size: 30px;
    font-weight: normal;
    text-align: center;   
    text-transform: uppercase;
    padding-top: 40px;
    padding-left: 50px;
    float: left;
}

#logo{
    position: absolute;
    padding-left: 70px
}

nav{
    padding-top: 182px;    
    text-align: center;    
    font-size: 16px;
    min-width: 1000px
}
nav ul ul {display: none;}
nav ul li:hover > ul {	display: block;}
nav ul 
{
    background: #A8A8A8; 
    background: linear-gradient(top, #ffffff 0%, #A8A8A8 100%);  
    background: -moz-linear-gradient(top, #ffffff 0%, #A8A8A8 100%); 
    background: -webkit-linear-gradient(top, #ffffff 0%,#A8A8A8 100%); 
    box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
    padding: 0 10px;
    list-style: none;    
    position: relative;
    z-index: 1;
    margin:0px;
}
nav ul:after {content: ""; clear: both; display: block;}
nav ul li {	float: left}
nav ul li:hover 
{
    background: #fff;
    background: linear-gradient(top, #4f5964 0%, #5f6975 40%);
    background: -moz-linear-gradient(top, #4f5964 0%, #5f6975 40%);
    background: -webkit-linear-gradient(top, #4f5964 0%,#5f6975 40%);
}
nav ul li:hover a {color: #fff;}
nav ul li a {display: block; padding: 25px 40px;color: #545454; text-decoration: none;}			
nav ul ul {background: #5f6975; border-radius: 0px; padding: 0;position: absolute; top: 100%;}
nav ul ul li { float: none; border-top: 1px solid #6b727c; border-bottom: 1px solid #575f6a; position: relative;}
nav ul ul li a {padding: 15px 40px; color: #fff;}	
nav ul ul li a:hover {background: #4b545f;}

/*Form styling*/
.date-control::-webkit-clear-button{
    --webkit-appearance: none;
    display: none;
}
form tr {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

form tr.hidden {
    display: none;
}

