/* 
    Document   : sendmailnotification
    Created on : Nov 28, 2014, 2:56:17 PM
    Author     : Andres
    Description:
        Purpose of the stylesheet follows.
*/

#mailsTA{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 50px;    
    margin-top: 20px
}

#mails {    
    color: #269abc;
    width: 100%;
    height: 100%;
}

#subjectdiv{
   margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 60px;  
    font-size: 16px
}

#subject{     
    width: 100%;    
}


#messagediv{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 150px;    
    margin-bottom: 40px
}

#message{
    width: 100%;
    height: 100%;
}

#enviar{
    width: 150px;
    margin-left: 70px;
}
