/* 
    Document   : partials
    Created on : Nov 26, 2014, 12:52:29 PM
    Author     : Andres
    Description:
        Purpose of the stylesheet follows.
*/

p{ 
    font-size: 20px;
    text-align: center
}


td span:hover { 
    cursor: pointer
}

.popover.bottom .arrow:after {
  border-bottom-color: #FFFF99
}

.popover-content{
    text-indent: 0;
    text-align: justify;
    background: linear-gradient(top, #FFFF99 0%, #FFFF66 100%);  
    background: -moz-linear-gradient(top, #FFFF99 0%, #FFFF66 100%); 
    background: -webkit-linear-gradient(top, #FFFF99 0%,#FFFF66 100%); 
    box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
}


